html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: contain;
  background-attachment: fixed;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#1f1f1f), to(#2f2f2f));
  background-image: linear-gradient(to bottom right, #1f1f1f, #2f2f2f);
}

#main-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px 10px 10px 10px;
  position: relative;
  width: 80%;
  max-width: 1200px;
  height: 80vh;
  background-color: #f3f3f3;
  overflow: hidden;
  padding-bottom: calc(30px + 5px);
}

#main-container #message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right: 17px;
  /* Increase/decrease this value for cross-browser compatibility */
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

#main-container #message-container div {
  border-radius: 5px;
  margin-top: 5px;
}

#main-container #message-container div div {
  position: relative;
  display: inline-block;
  background-color: rgba(115, 149, 174, 0.649);
  padding: 7px;
  max-width: 50%;
  word-break: break-all;
  margin-top: 0px;
  margin-left: 5px;
  margin-right: 5px;
}

#main-container #message-container div div span {
  visibility: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 7px;
  width: 50px;
  height: 20px;
  padding-top: 2px;
  padding-bottom: 3px;
  font-size: 15px;
  left: calc(100% + 5px);
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  z-index: 1;
}

#main-container #message-container div div span.my-tooltip {
  left: auto;
  right: calc(100% + 5px);
}

#main-container #message-container div div:hover span {
  visibility: visible;
}

#main-container #message-container div.my-message {
  text-align: right;
}

#main-container #message-container div.my-message div {
  background-color: #b1a296;
}

#main-container #message-container h5 {
  margin-top: 5px;
  margin-bottom: 0px;
  text-align: center;
}

#main-container #send-container {
  position: absolute;
  bottom: 0;
  max-width: 1200px;
  width: 100%;
}

#main-container #send-container input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 0px;
  padding-left: 5px;
  padding-right: 50px;
  margin: 0px;
  height: 30px;
  border-radius: 10px 10px 10px 10px;
}

#main-container #send-container input:focus {
  outline: none;
}

#main-container #send-container button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f3f3f3;
  border: 1px solid black;
  border-radius: 10px 10px 10px 10px;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  position: absolute;
  right: 0;
  top: 0;
  height: 30px;
  width: 50px;
}
/*# sourceMappingURL=style.css.map */