$input-height: 30px;
$input-width: 50px;

html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    justify-content: center;
    background-size: contain;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom right, #1f1f1f, #2f2f2f);
}

#main-container {
    box-sizing: border-box;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px 10px 10px 10px;
    position: relative;
    width: 80%;
    max-width: 1200px;
    height: 80vh;
    background-color: #f3f3f3;
    overflow: hidden;
    padding-bottom: calc(#{$input-height} + 5px);

    #message-container {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        padding-right: 17px;
        /* Increase/decrease this value for cross-browser compatibility */
        box-sizing: content-box;

        div {
            border-radius: 5px;
            margin-top: 5px;

            div {
                position: relative;
                display: inline-block;
                background-color: rgba(115, 149, 174, 0.649);
                padding: 7px;
                max-width: 50%;
                word-break: break-all;
                margin-top: 0px;
                margin-left: 5px;
                margin-right: 5px;

                span {
                    visibility: hidden;
                    box-sizing: border-box;
                    background-color: black;
                    color: #fff;
                    text-align: center;
                    border-radius: 7px;
                    width: 50px;
                    height: 20px;
                    padding-top: 2px;
                    padding-bottom: 3px;
                    font-size: 15px;
                    left: calc(100% + 5px);
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    position: absolute;
                    z-index: 1;

                    &.my-tooltip {
                        left: auto;
                        right: calc(100% + 5px);
                    }
                }

                &:hover span {
                    visibility: visible;
                }
            }

            &.my-message {
                text-align: right;

                div {
                    background-color: #b1a296;
                }
            }

        }

        h5 {
            margin-top: 5px;
            margin-bottom: 0px;
            text-align: center;
        }
    }

    #send-container {
        position: absolute;
        bottom: 0;
        max-width: 1200px;
        width: 100%;

        input {
            box-sizing: border-box;
            width: 100%;
            padding: 0px;
            padding-left: 5px;
            padding-right: $input-width;
            margin: 0px;
            height: $input-height;
            border-radius: 10px 10px 10px 10px;

            &:focus {
                outline: none;
            }
        }

        button {
            box-sizing: border-box;
            background-color: #f3f3f3;
            border: 1px solid black;
            border-radius: 10px 10px 10px 10px;
            color: inherit;
            font: inherit;
            cursor: pointer;
            outline: inherit;

            position: absolute;
            right: 0;
            top: 0;
            height: $input-height;
            width: $input-width;
        }
    }
}